body {
    font-family: Arial, sans-serif;
    background-color: #c48b8b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    background-color: #9afad4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

input {
    padding: 9px;
    font-size: 16px;
    width: 90%;
    margin-bottom: 10px;
    border: 2px solid #007bff;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    box-shadow: #d6f998;
    color: #c5dfeb;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#feedback {
    font-size: 18px;
    margin: 10px 0;
}

#attempts {
    font-size: 16px;
    color: #333;
}

#error-message {
    color: red;
    font-size: 14px;
}
